

<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trabalho 2</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>
<body>
    <div class="container">
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


   <div class="container-fluid">
   <header class="row">
     
   </header>

   <div class="row">
       <div role="main">
        <a href="index.html">Home</a>
       <h1 align="left">Sobre o autora</h1>
    <table>
      <tr>
         <td><h2> Nome:</h2></td>
         <td><h2><%=nome%></h2></td>
      </tr>
      <tr>
         <td><h2> Matricula:</h2></td>
         <td><h2><%=matricula%></h2></td>
       </tr>
       <tr>
         <td><h2> Curso:</h2></td>
         <td><h2><%=curso%></h2></td>
       </tr>
       <tr>
         <td><h2> E-mail:</h2></td>
         <td><h2><%=email%></h2></td>
      </tr>
    </table>
       </div>
   </div>
   <footer class="row">
       
   </footer>
</div>
</body>
</html>